<% @exercises.each do |exe| %>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Approach
          </div>
          <input type="number" min="1">
        </div>
      </div>
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Repeats
          </div>
          <input type="number" min="1">
        </div>
      </div>
      </div>
    </div>
  </div>








<!--  <div class="ui form">-->
<!--    <label><%#= exe.name %></label>-->
<!--    <div class="two column row">-->
<!--      <div class="column">-->
<!--        <div class="ui labeled input">-->
<!--          <div class="ui label">-->
<!--            Approach-->
<!--          </div>-->
<!--          <input type="number" min="1">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <div class="ui labeled input">-->
<!--          <div class="ui label">-->
<!--            Repeats-->
<!--          </div>-->
<!--          <input type="number" min="1">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<% end %>