<% if @clients.any? %>
  <% @clients.each do |client| %>
    <div class="card">
      <div class="col-lg-12">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <p><%= client.first_name + " " + client.second_name %></p>
        <div class="ui input">
          <label>Price</label>
          <input type="text" name="price" placeholder="<%= client.price %>">
        </div>
      </div>
    </div>
  <% end %>
<% end %>