<% if @clients.any? %>
  <form id="training">
    <select name="client_name" form="training">
        <option selected disabled>Select client...</option>
        <% for @client in @clients %>
          <option value="<%= @client.id %>"><%= @client.first_name + " " + @client.second_name %></option>
        <%end %>
    </select>
    <input type="date" name="datetime" />
    <input type="text" name="price" placeholder="price" />
    <input type="text" name="description" placeholder="description" />
  </form>
<%end %>
