<div class="ui raised very padded text container segment">
  <h2 class="ui header">New Training</h2>

  <div class="ui form">
    <div class="field">
      <label>Start Date</label>
      <div class="ui calendar" id="training_date">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date">
        </div>
      </div>
    </div>
  </div>

  <div class="ui form">
    <div class="field">
      <label>Start time</label>
      <div class="ui calendar" id="start_time">
        <div class="ui input left icon">
          <i class="time icon"></i>
          <input type="text" placeholder="Time">
        </div>
      </div>
    </div>
  </div>

  <div class="ui form">
    <div class="field">
      <label>Notes</label>
      <textarea rows="2"></textarea>
    </div>
  </div>
</div>

<!--todo: hide, when empty, show when clients exist, price drop when add new client-->
<div class="ui raised very padded text container segment">
  <h3 class="ui header">Clients</h3>
  <div class="field" style="margin-bottom: 20px">
    <% if @clients.present? %>
      <select id="clients_select" class="ui fluid search dropdown" multiple="">
        <option value="">Clinets...</option>
        <% @clients.each do |client| %>
          <option value="<%= client.id %>"><%= client.first_name + " " + client.second_name %></option>
        <%end %>
      </select>
    <% else %>
      <a class="ui green button" href="<%= new_client_path %>">Create client</a>
    <% end %>
  </div>
</div>


<div id="clients_continer"></div>




