= simple_form_for(@exercise_type, html: {novalidate: true}) do |f|
  = f.input :name, label: t('exercise_type.new.name')
  = f.input :description, label: t('exercise_type.new.description')
  = f.submit t('exercise_type.new.submit')