== javascript_include_tag 'newexerciseform'

h5
  | New kit
div[id="kit_#{@id}" style="margin-left: 50px"]
input[type="button" class="btn btn-sm" onclick="newexercise(#{@id})" value="Add new exercise"]
h1