== javascript_include_tag 'newexerciseform'

h5
  | #{t('kits.title')}
div[id="kit_#{@id}" style="margin-left: 50px"]
input[type="button" class="btn btn-sm" onclick="newexercise(#{@id})" value=t('kits.add_exe')]
h1