<td>
  <%= link_to user.email, user %>
</td>
<td>
<!--  <p>Tatiana</p>-->
  <%#= form_for(user) do |f| %>
    <%#= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%#= f.label :name %>
    <%#= f.submit 'Change Role', :class => 'button-xs' %>
  <%# end %>
</td>
<td>
  <%= link_to("Edit", edit_user_path(user) , :class => 'btn btn-success') %>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
