/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 //*= require select2/dist/css/select2.css
 *= require_tree .
 *= require_self

 */

//$import-google-fonts: true !default;
@import "semantic-ui";
//@import "semantic-ui/collections/menu";

.ui.sidebar.inverted.vertical.menu.visible {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.ui.sidebar.inverted.vertical.menu.visible:after {
  content: none;
}

.main.ui.container {
//#main-container {
  display:  flex;
  flex-flow:  row nowrap;
  justify-content:  center;
}

.ui.raised.container.segment {
//#container-segment {
  margin-top: 23px;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

#bottom-segment {
  width: calc(100% - 210px);
  margin-left: 210px;
}

@media only screen and (max-width: 1520px) {
  #fixed-sidebar {
    display: none;
  }
  #kek {
    margin-top: 4rem;
  }
  #toggle-sidebar,
  #menu-sidebar {
    display: flex;
  }

  #bottom-segment {
    margin-left: auto;
    width: 100%;
  }

  table.ui.unstackable.selectable.table {
    overflow: scroll;
    display: block;
    width: 100%;
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 1521px) {
  #fixed-sidebar {
    display: flex;
  }
  #toggle-sidebar,
  #menu-sidebar{
    display: none
  }
}

//.main.ui.container {
//  min-height:  100vh;
//  display:  flex;
//  flex-flow:  row nowrap;
//  justify-content:  center;
//  align-items:  center;
//}
//
//.ui.raised.container.segment {
//  margin-bottom: 30%;
//}
