doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Fit Free'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Fit Free'}"
    == stylesheet_link_tag "application", :media => 'all'
    == javascript_include_tag 'application'
    script src="https://use.fontawesome.com/d1341f9b7a.js"
    == csrf_meta_tags
  body
    header
    link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /
    == render 'layouts/navigation'
    main[role="main"]
      - if user_signed_in?
        = link_to t('sing_out'), destroy_user_session_path, method: :delete, class: 'btn btn-primary float-right float-top'
      == render 'layouts/messages'
      == yield
